test/javasource/
test/deployment/
test/theme/
test/userlib/
test/widgets/
test/.classpath
test/.project
*.launch
*.tmp
*.lock
*.bak
.idea/

!refkit.mpk

*DS_Store*
node_modules/
dist/
